{{#*inline "child"}}
<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">角色</h3>
            <p class="animated fadeInDown">
                角色管理 <span class="fa-angle-right fa"></span> 修改
            </p>
        </div>
    </div>
</div>

<div class="form-element">
    <div class="col-md-12 padding-0">
        <div class="col-md-12">

            <div class="panel form-element-padding">
                <div class="panel-heading">
                    <a href="javascript:history.back(-1);" class="btn btn-default right">返回</a>
                    <h4>角色权限修改</h4>

                </div>
                <div class="panel-body" style="padding-bottom:30px;">
                    <div class="col-md-12 panel-body" style="padding-bottom:30px;">
                        <div class="col-md-12">

                            <form method="post" onsubmit="return validateForm()" class="cmxform" id="signupForm">

                                <div class="form-group"><label class="col-sm-2 control-label text-right">角色名</label>
                                    <div class="col-sm-10"><input type="text" name="name" value="{{edit.name}}"
                                            class="form-control"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label text-right">默认访问</label>
                                    <div class="col-sm-10"><input type="text" name="default" value="{{edit.default}}"
                                            class="form-control border-bottom" placeholder=""></div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label text-right">拥有权限</label>
                                    <div class="col-sm-10">
                                        {{#each all_right}}
                                        <div class="col-md-6 panel" style="padding:20px;padding-bottom:0px;">
                                            <div class="col-sm-10">
                                                <div class="col-sm-12 padding-0">
                                                    <label>
                                                        <input type="checkbox" name="right" value="{{right_id}}"
                                                            class="c_{{right_id}}" {{#if is_checked}}checked{{/if}}>
                                                        {{#if right_name}}
                                                        “<b style="color:red;">{{path_full}}</b>” => {{right_name}}
                                                        {{~^~}}
                                                        <a href="{{../base_url}}rights/edit/{{right_id}}"
                                                            target="_blank">{{path_full}}=>添此权限名</a>
                                                        {{~/if~}}
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        {{/each}}
                                    </div>
                                </div>

                                <br>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label text-right"></label>

                                    <div class="col-sm-10">
                                        <input type="hidden" name="rights" value="">
                                        <button class="btn btn-info btn-success" type="Submit">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            提交
                                        </button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn" type="reset" onclick="javascript:history.back(-1);">
                                            <i class="ace-icon fa fa-undo bigger-110"></i>
                                            取消
                                        </button>
                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function validateForm() {
        // alert('表单认证');

        var arr = new Array();
        $("input:checkbox[name='right']:checked").each(function () {
            arr.push($(this).val()); //向数组中添加元素  
        }); //获取界面复选框的所有值
        // alert(arr);
        arrType = arr.join(','); //把复选框的值以数组形式存放
        // alert(arrType);
        $("input[name='rights']").val(arrType);

        // return false;
    }
</script>
{{/inline}}
{{> (lookup this "parent")}}