<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>跳转提示</title>
</head>

<body>
    <center>
        <p>页面将在<span id="third" style="color:red;">3</span>秒后跳转</p>
        <center>{{message}}</center>
    </center>
    <script type="text/javascript">

        var third = document.getElementById("third");
        var num = 3;
        var timer = setInterval(function () {
            num--;
            third.innerText = num;
            if (num == 0) {
                window.location.href = "{{jump_url}}";
            }
        }, 1000);

        $(document).ready(function () {

        });
    </script>
</body>

</html>