{{#*inline "child"}}
<!-- 中间内容 start -->
<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">法拍车爬虫处理</h3>
            <ol class="animated fadeInDown breadcrumb">
                <li><a href="{{base_url}}">首页</a></li>
                <li><a href="{{base_url}}reptile/list">处理列表</a></li>
                <li class="active">抓取</li>
            </ol>
        </div>
    </div>
</div>

<div class="form-element">
    <div class="col-md-12 padding-0">
        <div class="col-md-12">
            <div class="panel form-element-padding">

                <div class="panel-heading">

                    <a href="javascript:history.back(-1);" class="btn btn-default right">返回</a>
                    <h4>抓取法拍车</h4>

                </div>
                <div class="panel-body" style="padding-bottom:30px;">
                    <div class="col-md-12">
                        <form method="post" class="form-horizontal" role="form">

                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">拍卖ID</label>
                                <div class="col-sm-10">
                                    <input type="text" name="paimai_id" value="" placeholder="拍卖ID" class="form-control"
                                        required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">所属平台</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" id="show" checked>
                                    <input type="hidden" name="belong" value="1">
                                    <!-- 所属平台（1&.淘宝、2.京东） -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">HTML</label>
                                <div class="col-sm-10">
                                    <textarea name="html_string" id="form-field-11"
                                        class="autosize-transition form-control" placeholder="SEO描述"></textarea>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-2 control-label text-right">
                                </label>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 padding-0">

                                        <!-- <input type="hidden" name="current_price" value="">  -->


                                        <input class="submit btn btn-danger" type="submit" value="提交">
                                        &nbsp; &nbsp; &nbsp;
                                        <input class="btn btn-default" type="reset" value="重置">

                                    </div>

                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 中间内容带JS start -->

<link rel="stylesheet" type="text/css" href="asset/css/bootstrap-switch.css">
<script src="asset/js/bootstrap-switch.js"></script>

<script type="text/javascript">
    $(function () {

        $("#show").bootstrapSwitch({
            onText: '淘宝',
            offText: '京东',
            onColor: "info",
            offColor: "danger",
            size: "small",
            onSwitchChange: function (event, state) {
                if (state == true) {
                    // alert('显示');
                    $("input[name='belong']").val("1");
                } else {
                    // alert('不显示');
                    $("input[name='belong']").val("2");
                }
            }
        });
 
    });
</script>
<!-- 中间内容带JS end -->


<!-- 中间内容 end -->
{{/inline}}
{{> (lookup this "parent")}}